.direction-forcast-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    padding: 0.5rem 0;
    border-bottom: 1px solid #c9c9c9;

    .destination {
        margin-right: 1rem;
    }

    .minutes {
        margin-left: auto;
    }
}