.direction-forecast {
  .direction {
    display: flex;
    align-items: center;

    .direction-last-tram {
      margin-left: auto;
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
    }
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}
