.direction-forcast-item {
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  list-style-type: none;

  padding: 0.5rem 0;

  &:last-child {
    border: none;
  }

  .destination {
    margin-right: 1rem;
  }

  .minutes {
    margin-left: auto;
  }
}
