.forecast {
  header {
    border-bottom: 0.75rem solid var(--main-text-colour);
    display: flex;
    margin: 0;
    padding: 0.5rem;

    .back-arrow svg {
      color: var(--main-text-colour);
      margin-right: 0.5rem;
      width: 2.9rem;
    }

    h1 {
      margin: 0;

      span {
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
      }
    }
  }

  main {
    padding: 0.5rem;

    .updating {
      font-style: italic;
      font-weight: 400;
      font-size: 0.8rem;
      text-align: right;
    }
  }
}
