.forecast {
  header {
    margin: 0.5rem 0;

    h1 {

      border-bottom: 0.75rem solid #4caf50;
      margin: 0;
      padding: 0.5rem;

      span {
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
      }
    }
  }

  main {
    padding: 0.5rem;

    .message {
    }
  }
}
