.forecast {
   main {
      padding: 0.5rem;

      .message {
         margin: 3rem 0;
      }

      .updating {
         font-size: 0.8rem;
         font-style: italic;
         font-weight: 400;
         text-align: right;
      }
   }
}

.back-arrow svg {
   color: var(--main-text-colour);
   margin-right: 0.5rem;
   width: 2.9rem;
}
