.forecast {
   main {
      padding: 0.5rem;

      .message {
         margin: 3rem 0;
      }

      .updating {
         font-size: 0.8rem;
         font-style: italic;
         font-weight: 400;
         text-align: right;
      }
   }
}
