li.station-list-row {
  border-bottom: 1px solid #c9c9c9;
  border-left: 0.5rem solid #f44336;
  list-style-type: none;
  display: flex;

  &:hover,
  &:focus {
    background: #f9f9f9;
  }

  a {
    color: #333;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.8rem 0.5rem;
    width: 100%;
    height: 100%;
  }

  button {
    margin-left: auto;
    background: none;
    border: none;

    svg {
      width: 2rem;
    }
  }
}
