.navbar-link {
  border-bottom: 3px solid #333;
  padding: 0.5rem;
  margin-right: 0.5rem;

  vertical-align: middle;
  text-decoration: none;
  color: #333;

  :last-child {
    margin-right: 0;
  }
}