.forecast-header {
   header {
      border-bottom: 0.75rem solid var(--main-text-colour);
      display: flex;
      margin: 0;
      padding: 0.5rem;

      h1 {
         margin: 0;

         span {
            font-size: 2rem;
            font-style: italic;
            font-weight: 400;
         }
      }
   }
}
