.forecast-header {
   border-bottom: 0.75rem solid var(--main-text-colour);
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0.5rem;

   h1 {
      margin: 0;
      font-size: 1.5rem;

      span {
         font-style: italic;
         font-weight: 400;
      }
   }
}

.back-arrow svg {
   color: var(--main-text-colour);
   margin-right: 0.5rem;
   width: 2.5rem;
}
